<h1>Liste des tâches</h1>

<table>


<h2>Taches à réaliser </h2>
<thead>
  <tr>
    <th>Tache</th>
    <th>Description</th>
    <th>Catégorie</th>
  </tr>
</thead>
@for (todo of todos(); track todo) {

  
  @if (todo.status) {
    <tr>
      <td>{{ todo.title }}</td>
      <td>{{ todo.description }}</td>
   
      <td>{{ todo.category }}</td>
      <button [routerLink]="['./todos', todo.id]">Détail</button>
    </tr>
  }
  }
  @empty {
    <p>Aucune tâche</p>
  }

<h2>Taches terminées</h2>
<thead>
  <tr>
    <th>Tache</th>
    <th>Description</th>
    <th>Catégorie</th>
  </tr>
</thead>
@for (todo of todos(); track todo) {
  
  @if (!todo.status) {
    <tr>
      <td>{{ todo.title }}</td>
      <td>{{ todo.description }}</td>

      <td>{{ todo.category }}</td>
      <button [routerLink]="['/users',userId,'/todos', todo.id, 'todos']">Détail</button>
    </tr>
  }
  }
  @empty {
    <p>Aucune tâche</p>
  }
  
</table>